<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vinde!</h1>
                    <h5 class="fs-18">expresse aqui os seus pensamentos e opiniões</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2">Nova Postagem</button>
                    <a class="btn btn-outline-light" href="">Ver Postagens</a>
                </div>
            </div>


        </div>
        <div class="col-md-6 d-flex justify-content-center">
        <img src="https://imgur.com/ohpOIix.png" alt="icone" width="500px" height="500px">
        </div>

    </div>
</div>

<div class="container mb-5 mt-5">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active text-secundary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

          <a class="nav-item nav-link text-secundary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#nav-minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

          <a class="nav-item nav-link text-secundary font-weight-bold " id="nav-tema-tab" data-toggle="tab" href="#nav-tema" role="tab" aria-controls="nav-tema" aria-selected="false">Postagens por Tema</a>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-home-tab">Todas as Postagens</div>
        <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-profile-tab">Minhas Postagens</div>
        <div class="tab-pane fade" id="nav-tema" role="tabpanel" aria-labelledby="nav-contact-tab">Postagens por Tema</div>
      </div>
</div>